
.flex-shrink-0 {
    overflow-x: hidden;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}


main {
    margin-top: 89px;
}

h1 {
    font-size: 2.6rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

.span-h2 {
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
}

.span-h3 {
    font-size: 1.3rem;
    font-weight: 500;
    display: block;
}

.text-right {
    text-align: right;
}

nav {
    background: #fff;
    color: #1c85c7 !important;
    border-bottom: solid 3px #b3d8ef;
}

    nav .nav-link {
        color: #474747 !important;
    }

        nav .nav-link:hover {
            color: #1c85c7 !important;
        }

    nav .text-select {
        color: #1c85c7 !important;
        font-weight: bold;
    }

    nav .box {
        border-left: solid 20px #1c85c7;
        border-right: solid 20px #ffc107;
    }

footer {
    background: #fff;
    color: #1c85c7 !important;
}

    footer .box {
        border-left: solid 20px #1c85c7;
        border-right: solid 20px #ffc107;
    }

.btn-primary {
    background-color: #ffc107;
    color: #1c85c7;
    border: solid 1px #b3d8ef;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 5px 0 10px 5px rgb(0 0 0 / 10%);
}

    .btn-primary:hover {
        background-color: #f8d15b;
        color: #1c85c7;
        border: solid 1px #b3d8ef;
    }

.btn-secundary {
    background-color: #1c85c7;
    color: #fff;
    border: solid 1px #b3d8ef;
    font-weight: bold;
    box-shadow: 5px 0 10px 5px rgb(0 0 0 / 10%);
}

    .btn-secundary:hover {
        background-color: #1473ad;
        color: #fff;
        border: solid 1px #b3d8ef;
    }

.content {
}

.contentBox {
}

section {
    min-height: 100px;
    padding: 10rem 0rem;
}

    section#banner {
        background-color: #1c85c7;
    }

#banner .boxDemo {
    text-align: right;
}

    #banner .boxDemo iframe {
        height: 500px;
        width: 100%;
        box-shadow: 10px 0 20px 10px rgb(0 0 0 / 15%);
        border-radius: 10px;
        background-color: #fff;
    }

#banner .boxTitle {
    text-align: left;
    margin-right: 50px;
    font-weight: 500;
}

    #banner .boxTitle h1 {
        background-color: #ffc107;
        color: #fff;
        padding: 1rem 2.5rem;
        text-align: center;
    }

    #banner .boxTitle .span-h2 {
        text-align: justify;
        color: #b3d8ef;
    }

    #banner .boxTitle h3 {
        margin-top: 2rem;
        text-align: justify;
    }

    #banner .boxTitle .item i {
        color: #b3d8ef;
    }

    #banner .boxTitle .btn-primary {
        padding: 0.5rem 5rem;
    }


section#saberMais {
    color: #1c85c7;
}

#saberMais .box {
    text-align: left;
}

    #saberMais .box h2 {
        background-color: #1c85c7;
        color: #ffc107;
        padding: 1rem;
        text-align: center;
        font-size: 2.6rem;
        font-weight: bold;
    }

    #saberMais .box .span-h2 {
        text-align: justify;
        color: #1c85c7;
        text-align: center;
    }

    #saberMais .box h3 {
        margin-top: 2rem;
        text-align: justify;
    }

    #saberMais .box .item i {
        color: #b3d8ef;
    }

    #saberMais .box .btn-primary {
        padding: 1rem 5rem;
    }


section#sejaNossoParceiro {
    background-color: #ffc107;
}

#sejaNossoParceiro .box {
    color: #1c85c7;
    margin-right: 50px;
}

    #sejaNossoParceiro .box h3 {
        text-align: center;
        font-size: 2.6rem;
        font-weight: bold;
    }

    #sejaNossoParceiro .box .span-h2 {
        color: #474747;
        text-align: center;
    }

    #sejaNossoParceiro .box .span-h3 {
        color: #474747;
        text-align: center;
    }

    #sejaNossoParceiro .box i {
        color: #fff;
    }

#sejaNossoParceiro .boxForm {
    background-color: #fff;
    padding: 2rem;
    color: #474747;
    box-shadow: 10px 0 20px 10px rgb(0 0 0 / 15%);
    border-radius: 10px;
}

section#sobreNos {
    color: #1c85c7;
}

    section#sobreNos .box i {
        color: #b3d8ef;
    }

    section#sobreNos .box h2 {
        font-size: 2.6rem;
        font-weight: bold;
    }

    section#sobreNos .box h3 {
        color: #ffc107;
    }

section#contato {
    background-color: #b3d8ef;
}

    section#contato .boxTitle {
        text-align: center;
    }

        section#contato .boxTitle h3 {
            color: #1c85c7;
            font-size: 2.6rem;
            font-weight: bold;
        }

        section#contato .boxTitle .span-h2 {
            color: #474747;
        }

    section#contato .boxForm {
        text-align: center;
    }

    section#contato .boxMail {
        text-align: center;
    }

        section#contato .boxMail h3 {
            color: #474747;
        }

        section#contato .boxMail h4 {
            color: #1c85c7;
        }


/*AJUSTE BOOTSTRAP RESPONSIVO*/
@media (max-width: 575.98px) {
    #banner .boxTitle .mt-4 .btMenu {
        margin-bottom: 10px;
    }

    #banner .boxTitle .btn-primary {
        padding: 8px 16px;
    }

    #saberMais .box .btn-primary {
        font-size: 1rem;
        padding: 8px 16px;
    }

    #sejaNossoParceiro #Proximo11 {
        margin-left: 120px;
    }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
    .navbar-toggler-icon {
        background-color: #1c85c7;
    }

    #banner {
        margin-top: -130px;
    }

        #banner .col-sm-12 .span-h2 {
            text-align: center;
            margin-bottom: 10px !important;
        }

        #banner .col-sm-12 h3 {
            padding: 0 20px 0 20px;
        }

        #banner .boxDemo {
            padding: 0 20px 0 20px;
            margin-top: 30px;
        }

        #banner .boxTitle {
            margin-right: 0;
        }

            #banner .boxTitle .mt-4 .col-12 {
                text-align: center;
            }

    #saberMais .col-sm-12 .row .col-sm-12 h3 {
        margin-top: 0;
        text-align: center;
    }

    #saberMais .col-sm-12 .row .col-sm-12 .row {
        padding: 0 20px 0 20px;
    }

    #sejaNossoParceiro .row {
        padding: 0 20px 0 20px;
    }

        #sejaNossoParceiro .row .span-h3 {
            margin-bottom: 20px !important;
        }

        #sejaNossoParceiro .row .box h3 {
            margin-top: -120px;
        }

    #sobreNos .row .col-sm-12 {
        padding: 0 20px 0 20px;
    }

    #sobreNos .text-right, #sobreNos h3 {
        text-align: center !important;
    }

    #sobreNos .box {
        text-align: center;
    }

    #contato h3 {
        font-size: 2.4rem !important;
    }

    #contato .row .col-sm-12 .justify-content-md-center .col-sm-12 {
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
    #banner {
        margin-top: -130px;
    }
}
