.saber-mais {
  padding: 5rem 0;

  &__titulo {
    margin-bottom: 2rem;
    text-align: center;

    h2 {
      color: $primary;
    }
  }

  &__beneficios {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    justify-content: start;
    margin: .5rem 0;
  }

  &__icone {
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: 1rem;
    

    i {
      color: $light-blue;
      font-size: 3rem;
    }
  }

  &__texto {
    h3 {
      color: $primary;
    }
  }

  &__cta{
    margin-top: 2rem;
    text-align: center;
  }
}