.sobre {
  align-items: center;
  background: var(--primary);
  color: white;
  display: flex;
  padding: 4rem 0;

  &__marca {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: start;
    }
    img{
      padding: 1rem;
    }
  }
  &__conteudo {
    p {
      margin-bottom: 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }
  }
}
