:root{
  --primary: #1595E5;
  --secondary: #FFC107;
  --blue: #3AA2FB;
  --gray: #3E3E3E;
}

$font-family-base: "Segoe UI", sans-serif;
$fonte_titulo: "Poppins", sans-serif;

$link-color: var(--primary);