@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="pt-br" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DataImob</title>
</head>
<body style="background: url('/Imagens/BackgroundDemo.jpg') top center no-repeat; height: 1400px;">
    <script id="DataImobScript" src="https://dataimob.com.br/widget/js/app.js?id=18?v=0.37?header=%23558846?txt=white"></script>
</body>
</html>
